In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
test_set = pd.read_csv('competition_data/test_set.csv')

In [7]:
print test_set.shape
print test_set.dtypes
test_set.sample(n=5, random_state=0)

(30235, 8)
id                     int64
tube_assembly_id      object
supplier              object
quote_date            object
annual_usage           int64
min_order_quantity     int64
bracket_pricing       object
quantity               int64
dtype: object

,id,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,bracket_pricing,quantity
7898,7899,TA-04496,S-0066,2013-09-01,0,0,Yes,100
3977,3978,TA-02094,S-0041,2012-03-26,1,0,Yes,5
8255,8256,TA-04719,S-0066,2012-05-11,5,0,Yes,2
9304,9305,TA-05313,S-0066,2013-11-02,1,0,Yes,250
20327,20328,TA-14257,S-0066,2012-08-13,78,0,Yes,6

In [11]:
test_set_by_bracket = test_set.groupby(by='bracket_pricing')

In [12]:
test_set_by_bracket.count()

,id,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,quantity
bracket_pricing,,,,,,,
No,3956,3956,3956,3956,3956,3956,3956
Yes,26279,26279,26279,26279,26279,26279,26279