In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
train_set = pd.read_csv('./competition_data/train_set.csv')

In [6]:
print train_set.shape
print train_set.dtypes
print train_set.sample(10, random_state=0)

(30213, 8)
tube_assembly_id       object
supplier               object
quote_date             object
annual_usage            int64
min_order_quantity      int64
bracket_pricing        object
quantity                int64
cost                  float64
dtype: object
      tube_assembly_id supplier  quote_date  annual_usage  min_order_quantity  \
9730          TA-05679   S-0066  2013-08-04             0                   0
7442          TA-04183   S-0066  2013-10-01             0                   0
19179         TA-13388   S-0054  2009-05-26             1                   0
9565          TA-05576   S-0072  2002-08-30            88                   1
718           TA-00338   S-0066  2013-07-01             0                   0
14127         TA-08815   S-0058  2008-12-01           129                  35
252           TA-00108   S-0066  2013-10-01             0                   0
990           TA-00497   S-0066  2013-09-01             0                   0
19822         TA-14032   S-0041  2013-08-05             1                  20
26509         TA-19805   S-0066  2013-08-01             0                   0

      bracket_pricing  quantity       cost
9730              Yes         1  28.616259
7442              Yes       100   6.279107
19179             Yes         1  20.078120
9565               No         1   4.434602
718               Yes        10   4.609872
14127              No        35   6.167825
252               Yes       100  11.178313
990               Yes         5   9.178013
19822              No        20   6.732583
26509             Yes         1  21.513663

In [4]:
train_set.groupby('bracket_pricing').count()

,tube_assembly_id,supplier,quote_date,annual_usage,min_order_quantity,quantity,cost
bracket_pricing,,,,,,,
No,3930,3930,3930,3930,3930,3930,3930
Yes,26283,26283,26283,26283,26283,26283,26283

In [4]:
train_set_supplier_dummies = pd.get_dummies(train_set, columns=['supplier'])

In [6]:
train_set_supplier_dummies.to_csv('train_set_supplier_dummies.csv', index=False)

In [9]:
train_set_no_date = train_set.drop(['quote_date'], axis=1)

In [10]:
train_set_no_date_dummies = pd.get_dummies(train_set_no_date, columns=['supplier', 'bracket_pricing'])

In [12]:
train_set_no_date_dummies_drop_bracket_n = \
train_set_no_date_dummies.drop(['bracket_pricing_No'], axis=1)

In [14]:
train_set_no_date_dummies_drop_bracket_n.to_csv('train_set_no_date_dummies_drop_bracket_n.csv', index=False)